.container {
  width: min(100%, 1440px);
  margin: auto;
}

/*     header    */
header {
  background-color: #372d23;
  padding: 32px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-ul {
  display: flex;
  column-gap: 40px;
  list-style: none;
}

.active,
.inactive {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #fcc21b;
}

.active {
  color: #ed6c30;
}

.fa-bag-shopping {
  font-size: 40px;
  color: #fcc21b;
}

/*    section   */

.section1 {
  height: 640px;
  position: relative;
  z-index: 1;
}

.section1-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

article {
  width: 762px;
  height: 208px;
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 10px;
  background-color: #fcc21b99;
  transform: translate(-50%, -50%);
  box-shadow: -4px -4px 6px 0px #000000;
}

h1 {
  font-family: Inter;
  font-weight: 800;
  font-style: Italic;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
  color: #FFFFFF;
  text-shadow: 6px 2px 4px #000000;
}
