.container {
  max-width: 1440px;
  width: 100%;
  height: 500px;
  margin: auto;
  padding-top: 140px;
  width: min(100%, 1440px);
  margin: auto;
  position: relative;
}

body {
  font-family: "Inter", sans-serif;
}

/*     header    */
header {
  width: inherit;
  height: 150px;
  background-color: #372d23;
  padding: 32px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: inherit;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.header-ul {
  display: flex;
  column-gap: 40px;
  list-style: none;
}

.active,
.inactive {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #fcc21b;
}

.active {
  color: #ed6c30;
}

.fa-bag-shopping {
  font-size: 40px;
  color: #fcc21b;
}

/*    section   */

.section1 {
  width: 100%;
  height: 640px;
  position: relative;
  z-index: 1;
}

.section1-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section1-article {
  width: 762px;
  height: 208px;
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 10px;
  background-color: #fcc21b99;
  transform: translate(-50%, -50%);
  box-shadow: -4px -4px 6px 0px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 800;
  font-style: Italic;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
  color: #ffffff;
  text-shadow: 6px 2px 4px #000000;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.section2 {
  width: 1440px;
  height: 560px;
  top: 776px;
  opacity: 1;
  padding: 100px 80px;
  justify-content: center;
  display: flex;
  gap: 40px;
  background-color: #ffe18a;
}

.card {
  width: 600px;
  height: 400px;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  font-style: Bold;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: 0%;
  margin: 0;
  z-index: 2;
}

/*    footer    */

footer {
  width: 1440px;
  height: 184px;
  top: 1336px;
  background-color: #372d23;
  padding: 32px 32px 80px 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  opacity: 1;
  width: 100%;
  box-sizing: border-box;
}

.footer-links{
    margin-bottom: 10px;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #fcc21b;
}

.social-icons {
  display: flex;
  gap: 24px;
}

.social-icons i {
  color: #fcc21b;
  font-size: 32px;
}
